<div class="d-flex flex-wrap justify-content-center">
  <div class="d-flex flex-column mx-2 my-3" style="min-width: 200px; width: 450px">
    <div class="card d-flex justify-content-center text-center">
      <div>
        <img
          src="{{movie.movieImg}}"
          alt="{{movie.title}}"
          style="width: 100%;"
        />
      </div>
      <div class="mt-2 px-1">
        <h1>{{movie.title}}</h1>
        <p>Year: {{movie.year}}</p>
        <p>Genre: {{movie.genre}}</p>
        <p>Score: {{movie.averageScore}}</p>
        <p>Uploaded by: {{movie.uploadedBy.username}}</p>
        {{#if isTheOwner}}
          <form action="/movie/{{movie._id}}/delete" method="POST">
            <button class="btn btn-danger mb-2" type="submit">Delete movie</button>
          </form>
        {{/if}}
      </div>
    </div>
  </div>
  <div class="d-flex flex-column mx-2 my-3" style="min-width: 200px; width: 450px">
    <div class="card shadow">
      <div class="d-flex flex-column">
        <div class="d-flex flex-column justify-content-center align-items-center">    
          <h1 style="font-family: 'Bungee Inline', cursive;" class="text-center mb-3 mt-4">Reviews</h1>
          <h5 class="text-center mb-3">Provide a review</h5>
          <form class="d-flex flex-column align-items-center w-75" action="/movie/{{movie._id}}/" method="POST">
              <label for="content">Review</label>
                <textarea type="text" class="form-control mb-2" name="content"></textarea>        
              <label for="score">Score</label>
                <input class="form-control mb-3" type="number" name="score" />
              <button type="submit" class="btn btn-warning mb-2">Send</button>
          </form>
        </div>  
        <div class="d-flex flex-column-reverse">
            {{#each movie.reviews}}
              <div class="card m-2">
                <div class="card-body">
                  <h5 class="card-title">Rating: {{this.score}}</h5>
                  <h6 class="card-subtitle mb-2 text-body-secondary">By:
                    {{this.createdBy}}</h6>
                  <p class="card-text">{{this.content}}</p>
                  <p>{{this.date}}</p>
                </div>
              </div>
            {{/each}}
        </div>
      </div>
    </div>
  </div>
</div>