<div class="container text-center m-3">
  <div class="row">
    <div class="col">
      <img
        src="{{movie.movieImg}}"
        alt="{{movie.title}}"
        style="width: 400px;"
      />
    </div>
    <div class="col">
      <h1>{{movie.title}}</h1>
      <p>Year: {{movie.year}}</p>
      <p>Genre: {{movie.genre}}</p>
      <p>Score: {{movie.averageScore}}</p>
      <p>Uploaded by: {{movie.uploadedBy.username}}</p>
      {{#if isTheOwner}}
      <form action="/movie/{{movie._id}}/delete" method="POST">
        <button class="btn btn-danger mb-2" type="submit">Delete movie</button>
      </form>
      {{/if}}
    </div>
  </div>
</div>

<div class="d-flex flex-column justify-content-center align-items-center">
  <h1>Reviews</h1>
  <h5>Provide a review</h5>
  <form class="row g-3" action="/movie/{{movie._id}}/" method="POST">
    <div class="col">
      <label for="content">
        Review
        <input type="text" class="form-control mb-2" name="content" />
      </label>
    </div>
    <div class="col">
      <label for="score">
        Score
        <input class="form-control mb-2" type="number" name="score" />
      </label>
    </div>
      <button type="submit" class="btn btn-primary mb-2"> Send review</button>
  </form>

  <div class="d-flex flex-column-reverse">
    {{#each movie.reviews}}
      <div class="card m-2" style="width: 35rem;">
        <div class="card-body">
          <h5 class="card-title">Rating: {{this.score}}</h5>
          <h6 class="card-subtitle mb-2 text-body-secondary">By:
            {{this.createdBy}}</h6>
          <p class="card-text">{{this.content}}</p>
        </div>
      </div>
    {{/each}}
  </div>
</div>