<a href="/movies/create"> <button>Create movie</button></a>

<a href="/movies/{{userInSession._id}}"> <button>Your movies</button></a>
{{#each movies}}
<a href="/movie/{{this._id}}"><img src="{{this.movieImg}}" alt="" style="width: 200px;"></a>
<a href="/movie/{{this._id}}"><h1>{{this.title}}</h1></a>
{{/each}}