<div class="d-flex flex-row justify-content-around">
<div class="container d-flex align-items-start flex-column mt-5">
  <div class="col-md-8 mx-auto">
    <div class="card p-4">
  <div class="row text-center">
    <div class="col mt-5">
      <img
        src="{{movie.movieImg}}"
        alt="{{movie.title}}"
        style="width: 250px;"
      />
    </div>
    <div class="col mt-5">
      <h1>{{movie.title}}</h1>
      <p>Year: {{movie.year}}</p>
      <p>Genre: {{movie.genre}}</p>
      <p>Score: {{movie.averageScore}}</p>
      <p>Uploaded by: {{movie.uploadedBy.username}}</p>
    </div>
  </div>
  </div>
    </div>
</div>
<div class="col-md-6 my-auto m-5">
    <div class="card p-4 m-5">
<div class="d-flex flex-column">
  <h1 class="text-center mb-3 mt-4">Reviews</h1>
  <h5 class=" text-center mb-3">Provide a review</h5>
  <form class="row g-3 justify-content-center mx-auto" action="/movie/{{movie._id}}/" method="POST">
    <div class="col">
      <label for="content">
        Review
        <input type="text" class="form-control mb-2" name="content" />
      </label>
    </div>
    <div class="col">
      <label for="score">
        Score
        <input class="form-control mb-2" type="number" name="score" />
      </label>
    </div>
    <button type="submit" class="btn btn-primary mb-2"> Send review</button>
  </form>

  <div class="d-flex flex-column-reverse">
    {{#each movie.reviews}}
      <div class="card m-2" style="width: 35rem;">
        <div class="card-body">
          <h5 class="card-title">Rating: {{this.score}}</h5>
          <h6 class="card-subtitle mb-2 text-body-secondary">By:
            {{this.createdBy}}</h6>
          <p class="card-text">{{this.content}}</p>
        </div>
      </div>
    {{/each}}
  </div>
</div>
</div>
</div>
</div>




