<div class="container text-center">
  <h1 class="my-4" style="font-family: 'Bungee Inline', cursive;">YOUR MOVIES</h1>
  <a href="/movies/create" class="btn btn-warning">Create movie</a>
  <a href="/movies" class="btn btn-warning">All movies</a>
  
<div class="d-flex flex-row flex-wrap justify-content-start mt-4">
    {{#each movies}}
<div class="card m-2" style="width: 18rem; height: 25rem">
  <img src="{{this.movieImg}}" class="card-img-top" alt="{{this.title}}" height="250px" width="180px">
  <div class="card-body">
    <h5 class="card-title">{{this.title}}</h5>
    <p class="card-text" style="width: auto;">Score: <strong>{{this.averageScore}}</strong></p>
    <a href="/movie/{{this._id}}" class="btn btn-warning">Make review</a>
  </div>
</div>
    {{/each}}
  </div>
</div>